.main-container{
    background-color: #f48b29;
    border-radius: 10px;
    min-width: 400px;   
    margin-top: 10px; 
    width: 12rem;
    height: 84vh;
    overflow: hidden;
    position: relative;
  
    
}
.row{
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;

}
.card{
    background-color: peachpuff;
    border-radius: 10px;
    margin: 5px;
    width: 150px;
    height: 125px;
    
}
.card-img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
   /* burası aşağıdaki transform ile bağlantılı */
}
.card:hover{
    box-shadow: 0px 0px 9px #2b24b2;
    cursor: pointer;
}
.card:hover .card-img{  
    transform: scale(1.25);

}
.card-title{
    color: black;
    font-weight: 800;
    font-size: 1rem;
}

.bars{
    height: 41rem;
    width: 5rem;
    background-color: #53c1de;
    position: absolute;
    transform: rotate(-45deg);
    top: 5rem;
    left: 10rem;
}
